body {
    background: #0b0c10;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 20px;
}

#uploader {
    margin: 30px 0;
}

video {
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
}
